*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #302e2b;
    height: 100vh;
    width: full;
    margin: auto;
}
#root{
    display: flex;
    flex-direction: column;
    max-width: 64vw;
    height: 96vh;
}
.rowelm{
    width: full;
    height: 12vh;
    display: flex;
}
.square{
    width: 8vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.piece{
    width: 8vw;
    height: 12vh;
}
.white{
    background-color: #eeeed2;
}
.black{
    background-color: #769656;
}